<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Constructor Injection -->
    <bean id="employeeService1"
          class="com.springcore.EmployeeServiceImpl">
        <constructor-arg value="Dikshya Runwal"/>
    </bean>

    <!-- Setter Injection -->
    <bean id="employeeService2"
          class="com.springcore.EmployeeServiceImpl">
        <property name="employeeName" value="Sanjana "/>
    </bean>

</beans>
