<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Constructor Injection -->
    <bean id="productService1"
          class="com.springcore.ProductServiceImpl">
        <constructor-arg value="MacAirM12021"/>
    </bean>

    <!-- Setter Injection -->
    <bean id="productService2"
          class="com.springcore.ProductServiceImpl">
        <property name="product" value="MacProM12021"/>
    </bean>

</beans>
